* {
    font-family: "Lexend", sans-serif;
    background-color: #1e312e;
    margin: 0;
}

#products-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

#products-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

#products-list li {
    background-color: rgb(50, 104, 50);
    align-items: center;
    border: 1px solid white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    margin: 10px;
    padding: 10px;
}

#products-only {
    text-decoration: none;
    margin: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(50, 104, 50);
    border: 1px solid white;
    border-radius: 20px;
}

#products-only h1 {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#product-link {
    font-size: 20px;
    color: black;
    background-color: rgb(50, 104, 50);
}

#pagination {
    font-size: 20px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagination a {
    font-size: 20px;
    padding: 10px;
    color: gray;
}

h1 {
    color: white;
    text-align: center;
}

h3, p {
    background-color: rgb(50, 104, 50);
}

img {
    border-radius: 30px;
}

form {
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}

input {
    background-color: rgb(145, 145, 145);
    border-radius: 20px;
}

button {
    color: white;
    background-color: rgb(26, 26, 26);
    margin-top: 10px;
    border-radius: 20px;
}

li {
    color: black;
}

a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin: 20px;
}

header li {
    background-color: rgb(50, 104, 50);
}

header a {
    background-color: rgb(50, 104, 50);
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgb(50, 104, 50);
    list-style: none;
}

#htz-logo {
    width: 150px;
    border-radius: 15px;
    background-color: rgb(50, 104, 50);
}

footer {
    background-color: rgb(50, 104, 50);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#logo {
    width: 25px;
    border-radius: 0px;
    background-color: rgb(50, 104, 50);
    margin: 10px;
}

#footer-social {
    background-color: rgb(50, 104, 50);
}

#footer-link {
    display: flex;
    color: white;
    font-size: 20px;
    background-color: rgb(50, 104, 50);
    align-items: center;
}

#authorship {
    color: white;
    font-size: 15px;
    background-color: rgb(50, 104, 50);
}

#error-container p {
    display: flex;
    justify-content: center;
    background-color: #1e312e;
    color: rgb(145, 145, 145);
}