<footer>
    <p>© 2021 HTZ Servicio técnico. Todos los derechos reservados.</p>
    <div id="footer-social">
        <p>Medios de comunicación</p>
        <a href="https://www.instagram.com/htzmontecristo/" id="footer-link">
            <img src="/images/instagram_logo.png" alt="Logo de Instagram" id="logo">
            <p>@htzmontecristo</p>
        </a>
        <a href="https://wa.me/5493513574139" id="footer-link">
            <img src="/images/whatsapp_logo.png" alt="Logo de whatsapp" id="logo">
            <p>3513574139</p>
        </a>
    </div>
        <a href="https://www.freepik.es/autor/uicons/iconos/uicons-brands-solid_5089#from_element=resource_detail"
            id="authorship">Iconos de UIcons</a>
</footer>