<header>
    <nav>
        <ul>
            <li>
                <a href="/home">
                    <img src="/images/HTZ_logo.png" alt="Logo de HTZ servicio técnico" id="htz-logo">
                </a>
            </li>
            <li>
                <a href="/home">Productos</a>
            </li>
            <li>
                <p> Tu tecnología, nuestra pasión. </p>
            </li>
        </ul>
    </nav>
</header>