<header>
    <nav>
        <ul>
            <li>
                <a href="/home">
                    <img src="/images/HTZ_logo.png" alt="Logo de HTZ servicio técnico" id="htz-logo">
                </a>
            </li>
            <li>
                <a href="/home">Productos</a>
            </li>
            <li>
                <a href="/home"><img src="/images/cart_img.png" alt="Imagen de carrito" id="logo"></a>
            </li>
        </ul>
    </nav>
</header>